In [1]:
import sqlite3
from sqlite3 import *
import pandas as pd
import sys
import os

In [2]:
os.chdir('/Users/raj/Downloads/SQLFiles Tier 2')
database='sqlite_db_pythonsqlite.db'

In [3]:
conn=sqlite3.connect(database)
cur=conn.cursor()

In [4]:
query0="""
        SELECT name FROM sqlite_master WHERE type='table' ;
        """
cur.execute(query0)
rows =cur.fetchall()
cur.fetchone()
print(rows)
print(" \n")

[('Bookings',), ('Facilities',), ('Members',)]

In [5]:
query01="""
        SELECT name FROM PRAGMA_TABLE_INFO('Members');
        """
cur.execute(query01)
rows1 =cur.fetchall()
print(rows1)
print(" \n")
query02="""
        SELECT name FROM PRAGMA_TABLE_INFO('Bookings');
        """
cur.execute(query02)
rows1 =cur.fetchall()
print(rows1)
print(" \n")
query03="""
        SELECT name FROM PRAGMA_TABLE_INFO('Facilities');
        """
cur.execute(query03)
rows1 =cur.fetchall()
print(rows1)
print(" \n")

[('memid',), ('surname',), ('firstname',), ('address',), ('zipcode',), ('telephone',), ('recommendedby',), ('joindate',)]


[('bookid',), ('facid',), ('memid',), ('starttime',), ('slots',)]


[('facid',), ('name',), ('membercost',), ('guestcost',), ('initialoutlay',), ('monthlymaintenance',)]

Q1: Some of the facilities charge a fee to members, but some do not.
Write a SQL query to produce a list of the names of the facilities that do.

In [6]:
query1="""
SELECT name FROM `Facilities` where membercost>0 ;   
"""
cur.execute(query1)
rows=cur.fetchall()
print("name")
for row in rows:
    print(row)

name
('Tennis Court 1',)
('Tennis Court 2',)
('Massage Room 1',)
('Massage Room 2',)
('Squash Court',)

Q2: How many facilities do not charge a fee to members?

In [7]:
query2="""
SELECT count(name) FROM `Facilities` where membercost=0 ;   
"""
cur.execute(query2)
rows=cur.fetchall()
print("count")
for row in rows:
    print(row)

count
(4,)

Q3: Write an SQL query to show a list of facilities that charge a fee to members,
where the fee is less than 20% of the facility's monthly maintenance cost.
Return the facid, facility name, member cost, and monthly maintenance of the
facilities in question.

In [8]:
query3="""
SELECT facid, name, membercost, monthlymaintenance FROM `Facilities` where membercost>0 
and membercost<0.2*monthlymaintenance ; 
"""
cur.execute(query3)
rows=cur.fetchall()
print("facid, name, membercost, monthlymaintenance")
for row in rows:
    print(row)

facid, name, membercost, monthlymaintenance
(0, 'Tennis Court 1', 5, 200)
(1, 'Tennis Court 2', 5, 200)
(4, 'Massage Room 1', 9.9, 3000)
(5, 'Massage Room 2', 9.9, 3000)
(6, 'Squash Court', 3.5, 80)

Q4: Write an SQL query to retrieve the details of facilities with ID 1 and 5.
Try writing the query without using the OR operator.

In [9]:
query4="""
SELECT * FROM `Facilities` where facid in (1,5);
"""
cur.execute(query4)
rows=cur.fetchall()
print("bookid, facid, memid, starttime, slots")
for row in rows:
    print(row)

bookid, facid, memid, starttime, slots
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)

Q5: Produce a list of facilities, with each labelled as
'cheap' or 'expensive', depending on if their monthly maintenance cost is
more than $100. Return the name and monthly maintenance of the facilities
in question.

In [10]:
query5="""
SELECT name, monthlymaintenance, CASE WHEN monthlymaintenance > 100 THEN 'expensive' 
ELSE 'cheap' END as cost FROM `Facilities` ;
"""
cur.execute(query5)
rows=cur.fetchall()
print("name, monthlymaintenance, cost")
for row in rows:
    print(row)

name, monthlymaintenance, cost
('Tennis Court 1', 200, 'expensive')
('Tennis Court 2', 200, 'expensive')
('Badminton Court', 50, 'cheap')
('Table Tennis', 10, 'cheap')
('Massage Room 1', 3000, 'expensive')
('Massage Room 2', 3000, 'expensive')
('Squash Court', 80, 'cheap')
('Snooker Table', 15, 'cheap')
('Pool Table', 15, 'cheap')

Q6: You'd like to get the first and last name of the last member(s)
who signed up. Try not to use the LIMIT clause for your solution.

In [11]:
query6="""
SELECT  firstname, surname  FROM `Members` where joindate=(SELECT max(joindate) FROM `Members`) ;
"""
cur.execute(query6)
rows=cur.fetchall()
print("firstname, surname")
for row in rows:
    print(row)

firstname, surname
('Darren', 'Smith')

Q7: Produce a list of all members who have used a tennis court.
Include in your output the name of the court, and the name of the member
formatted as a single column. Ensure no duplicate data, and order by
the member name.

In [12]:
query7="""
SELECT  distinct firstname ||' ' || surname  as membername, name as facility From `Members`  
join `Bookings` on Members.memid=Bookings.memid join `Facilities` 
on Bookings.facid=Facilities.facid where name like 'Tennis%' order by membername, facility; 
"""
cur.execute(query7)
rows=cur.fetchall()
print("membername,facility")
for row in rows:
    print(row)

membername,facility
('Anne Baker', 'Tennis Court 1')
('Anne Baker', 'Tennis Court 2')
('Burton Tracy', 'Tennis Court 1')
('Burton Tracy', 'Tennis Court 2')
('Charles Owen', 'Tennis Court 1')
('Charles Owen', 'Tennis Court 2')
('Darren Smith', 'Tennis Court 2')
('David Farrell', 'Tennis Court 1')
('David Farrell', 'Tennis Court 2')
('David Jones', 'Tennis Court 1')
('David Jones', 'Tennis Court 2')
('David Pinker', 'Tennis Court 1')
('Douglas Jones', 'Tennis Court 1')
('Erica Crumpet', 'Tennis Court 1')
('Florence Bader', 'Tennis Court 1')
('Florence Bader', 'Tennis Court 2')
('GUEST GUEST', 'Tennis Court 1')
('GUEST GUEST', 'Tennis Court 2')
('Gerald Butters', 'Tennis Court 1')
('Gerald Butters', 'Tennis Court 2')
('Henrietta Rumney', 'Tennis Court 2')
('Jack Smith', 'Tennis Court 1')
('Jack Smith', 'Tennis Court 2')
('Janice Joplette', 'Tennis Court 1')
('Janice Joplette', 'Tennis Court 2')
('Jemima Farrell', 'Tennis Court 1')
('Jemima Farrell', 'Tennis Court 2')
('Joan Coplin', 'Tennis Court 1')
('John Hunt', 'Tennis Court 1')
('John Hunt', 'Tennis Court 2')
('Matthew Genting', 'Tennis Court 1')
('Millicent Purview', 'Tennis Court 2')
('Nancy Dare', 'Tennis Court 1')
('Nancy Dare', 'Tennis Court 2')
('Ponder Stibbons', 'Tennis Court 1')
('Ponder Stibbons', 'Tennis Court 2')
('Ramnaresh Sarwin', 'Tennis Court 1')
('Ramnaresh Sarwin', 'Tennis Court 2')
('Tim Boothe', 'Tennis Court 1')
('Tim Boothe', 'Tennis Court 2')
('Tim Rownam', 'Tennis Court 1')
('Tim Rownam', 'Tennis Court 2')
('Timothy Baker', 'Tennis Court 1')
('Timothy Baker', 'Tennis Court 2')
('Tracy Smith', 'Tennis Court 1')
('Tracy Smith', 'Tennis Court 2')

Q8: Produce a list of bookings on the day of 2012-09-14 which
will cost the member (or guest) more than $30. Remember that guests have
different costs to members (the listed costs are per half-hour 'slot'), and
the guest user's ID is always 0. Include in your output the name of the
facility, the name of the member formatted as a single column, and the cost.
Order by descending cost, and do not use any subqueries.

In [13]:
query8="""
SELECT  name as facility, firstname ||' ' || surname as membername,   
CASE WHEN Members.memid=0 THEN guestcost*slots*2 ELSE membercost*slots*2 END 
as cost  From `Members`  join `Bookings` on Members.memid=Bookings.memid 
join `Facilities` on Bookings.facid=Facilities.facid where starttime 
like '2012-09-14%' and ((Members.memid!=0 and membercost*slots*2 >30) 
or (Members.memid=0 and guestcost*slots*2 >30)) order by cost desc;
"""
cur.execute(query8)
rows=cur.fetchall()
print("facility, membername, cost")
for row in rows:
    print(row)

facility, membername, cost
('Massage Room 2', 'GUEST GUEST', 640)
('Massage Room 1', 'GUEST GUEST', 320)
('Massage Room 1', 'GUEST GUEST', 320)
('Massage Room 1', 'GUEST GUEST', 320)
('Tennis Court 2', 'GUEST GUEST', 300)
('Tennis Court 1', 'GUEST GUEST', 150)
('Tennis Court 1', 'GUEST GUEST', 150)
('Tennis Court 2', 'GUEST GUEST', 150)
('Squash Court', 'GUEST GUEST', 140.0)
('Massage Room 1', 'Jemima Farrell', 79.2)
('Squash Court', 'GUEST GUEST', 70.0)
('Squash Court', 'GUEST GUEST', 70.0)
('Tennis Court 2', 'David Jones', 60)
('Tennis Court 2', 'Tim Boothe', 60)
('Massage Room 1', 'Jack Smith', 39.6)
('Massage Room 1', 'Jemima Farrell', 39.6)
('Massage Room 1', 'Ponder Stibbons', 39.6)
('Massage Room 1', 'Burton Tracy', 39.6)
('Massage Room 1', 'Matthew Genting', 39.6)
('Massage Room 2', 'Florence Bader', 39.6)

Q9: This time, produce the same result as in Q8, but using a subquery.

In [14]:
query9="""
SELECT  facility, membername, cost from (
SELECT  name as facility, firstname ||' ' || surname as membername, Members.memid, slots, membercost, guestcost,  
CASE WHEN Members.memid=0 THEN guestcost*slots*2 
ELSE membercost*slots*2 END as cost  From `Members`  join `Bookings` 
on Members.memid=Bookings.memid 
join `Facilities` on Bookings.facid=Facilities.facid 
where starttime like '2012-09-14%' ) as bookings_info 
where cost > 30 order by cost desc; 
"""
cur.execute(query9)
rows=cur.fetchall()
print("facility, membername, cost")
for row in rows:
    print(row)

facility, membername, cost
('Massage Room 2', 'GUEST GUEST', 640)
('Massage Room 1', 'GUEST GUEST', 320)
('Massage Room 1', 'GUEST GUEST', 320)
('Massage Room 1', 'GUEST GUEST', 320)
('Tennis Court 2', 'GUEST GUEST', 300)
('Tennis Court 1', 'GUEST GUEST', 150)
('Tennis Court 1', 'GUEST GUEST', 150)
('Tennis Court 2', 'GUEST GUEST', 150)
('Squash Court', 'GUEST GUEST', 140.0)
('Massage Room 1', 'Jemima Farrell', 79.2)
('Squash Court', 'GUEST GUEST', 70.0)
('Squash Court', 'GUEST GUEST', 70.0)
('Tennis Court 2', 'David Jones', 60)
('Tennis Court 2', 'Tim Boothe', 60)
('Massage Room 1', 'Jack Smith', 39.6)
('Massage Room 1', 'Jemima Farrell', 39.6)
('Massage Room 1', 'Ponder Stibbons', 39.6)
('Massage Room 1', 'Burton Tracy', 39.6)
('Massage Room 1', 'Matthew Genting', 39.6)
('Massage Room 2', 'Florence Bader', 39.6)

Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members!

In [15]:
query10="""
SELECT  name as facility, sum(CASE WHEN Bookings.memid=0 THEN guestcost*slots*2 
ELSE membercost*slots*2 END) as revenue From `Bookings`  join `Facilities` 
on Bookings.facid=Facilities.facid group by facility having revenue <1000 order by revenue;
"""
cur.execute(query10)
rows=cur.fetchall()
print("facility, revenue")
for row in rows:
    print(row)

facility, revenue
('Table Tennis', 360)
('Snooker Table', 480)
('Pool Table', 540)

Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order

In [16]:
query11="""
         SELECT distinct firstname ||' ' ||  surname as member, (select CASE WHEN b.memid=0 THEN ' ' ELSE firstname ||' ' ||  surname END as recommender FROM `Members` b where a.recommendedby=b.memid ) as recommender from `Members` a order by member ;
        """
cur.execute(query11)
rows=cur.fetchall()
print("member, recommender")
for row in rows:
    print(row)

member, recommender
('Anna Mackenzie', 'Darren Smith')
('Anne Baker', 'Ponder Stibbons')
('Burton Tracy', None)
('Charles Owen', 'Darren Smith')
('Darren Smith', None)
('David Farrell', None)
('David Jones', 'Janice Joplette')
('David Pinker', 'Jemima Farrell')
('Douglas Jones', 'David Jones')
('Erica Crumpet', 'Tracy Smith')
('Florence Bader', 'Ponder Stibbons')
('GUEST GUEST', None)
('Gerald Butters', 'Darren Smith')
('Henrietta Rumney', 'Matthew Genting')
('Henry Worthington-Smyth', 'Tracy Smith')
('Hyacinth Tupperware', None)
('Jack Smith', 'Darren Smith')
('Janice Joplette', 'Darren Smith')
('Jemima Farrell', None)
('Joan Coplin', 'Timothy Baker')
('John Hunt', 'Millicent Purview')
('Matthew Genting', 'Gerald Butters')
('Millicent Purview', 'Tracy Smith')
('Nancy Dare', 'Janice Joplette')
('Ponder Stibbons', 'Burton Tracy')
('Ramnaresh Sarwin', 'Florence Bader')
('Tim Boothe', 'Tim Rownam')
('Tim Rownam', None)
('Timothy Baker', 'Jemima Farrell')
('Tracy Smith', None)

Q12: Find the facilities with their usage by member, but not guests

In [17]:
query12="""
        SELECT  a.facility, count(a.membername) as No_of_members from 
        (SELECT  distinct name as facility, firstname ||' ' ||  surname as membername  From `Members`  
        join `Bookings` on Members.memid=Bookings.memid join `Facilities` 
        on Bookings.facid=Facilities.facid 
        where Members.memid!=0 order by membername, facility ) as a group by facility; 
        """
cur.execute(query12)
rows = cur.fetchall()
print("facility,No_of_members")
for row in rows:
    print(row)

facility,No_of_members
('Badminton Court', 24)
('Massage Room 1', 24)
('Massage Room 2', 12)
('Pool Table', 27)
('Snooker Table', 22)
('Squash Court', 24)
('Table Tennis', 25)
('Tennis Court 1', 23)
('Tennis Court 2', 21)

Q13: Find the facilities usage by month, but not guests

In [18]:
query13="""
         select name as facility, a.month, count(name) as facility_usage from `Facilities` join (SELECT facid, strftime('%m',starttime) as month, starttime  from `Bookings` where Bookings.memid!=0) as a on a.facid=Facilities.facid group by a.month, facility ;
        """
cur.execute(query13)
rows = cur.fetchall()
print("facility,month,facility_usage")
for row in rows:
    print(row)

facility,month,facility_usage
('Badminton Court', '07', 51)
('Massage Room 1', '07', 77)
('Massage Room 2', '07', 4)
('Pool Table', '07', 103)
('Snooker Table', '07', 68)
('Squash Court', '07', 23)
('Table Tennis', '07', 48)
('Tennis Court 1', '07', 65)
('Tennis Court 2', '07', 41)
('Badminton Court', '08', 132)
('Massage Room 1', '08', 153)
('Massage Room 2', '08', 9)
('Pool Table', '08', 272)
('Snooker Table', '08', 154)
('Squash Court', '08', 85)
('Table Tennis', '08', 143)
('Tennis Court 1', '08', 111)
('Tennis Court 2', '08', 109)
('Badminton Court', '09', 161)
('Massage Room 1', '09', 191)
('Massage Room 2', '09', 14)
('Pool Table', '09', 408)
('Snooker Table', '09', 199)
('Squash Court', '09', 87)
('Table Tennis', '09', 194)
('Tennis Court 1', '09', 132)
('Tennis Court 2', '09', 126)